///* ========================================================================
//   #COLOR
//   ======================================================================== */

$color-white:      #fff !default;
$color-black:      #000 !default;
$color-initial:    #eb2227 !default;
$color-primary:    #444 !default;
$color-secondary:  #999 !default;
$color-tertiary:   #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary:    #e1e1e1 !default;
