/* ==========================================================================
   #PRODUCT LIST
   ========================================================================== */
.product__card {
  width: 1005%;
  cursor: pointer;

  @include mq($from: tablet) {
    width: 50%;
  }

  @include mq($from: desktop) {
    width: 25%;
  }

  @extend .o-grid__cell;

  .product__image {
    position: relative;
    margin-bottom: 24px;

    img {
      transition: all ease-in-out 0.2s;
    }

    span,
    .product__image__text {
      position: absolute;
      top: 0;
      left: 0;
    }

    span.onsale {
      display: inline-block;
      padding: 10px 24px;
      background: $color-black;
      color: $color-white;
    }

    .product__image__text {
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 0.5s;
    }

    .product__cta {
      border-color: $color-white;
      color: $color-white;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }

  &:hover {
    .product__image__text {
      opacity: 1;
    }
  }
}

.ajax-layered {
  ul.sizes {
    li .size-filter {
      height: 28px;
      line-height: 28px;
      min-width: 62px;
      border: none;
    }

    li.chosen .size-filter,
    li .size-filter:hover {
      background: #000;
      color: #fff;
      border: none;
    }
  }
}

.widget_ajax_layered_nav_filters {
  display: none;

  &.widget {
    margin-bottom: 0;
  }

  h3 {
    display: none;
  }

  a {
    display: block;
    padding: 0 48px 0 24px;
    height: 36px;
    line-height: 36px;
    background-color: #f5f5f5;
    color: #999;
    font-size: 12px;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      right: 16px;
      top: 15px;
      content: ' ';
      height: 8px;
      width: 1px;
      background-color: #999;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      background-color: #000;
      color: #fff;

      &::before,
      &::after {
        background-color: #fff;
      }
    }
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {
      margin-right: 16px;
      margin-bottom: 8px;
    }
  }
}

.product__content {
  .product__cat {
    a {
      font-size: 10px;
      color: $color-secondary;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 300;
    }
  }
}

.shop-wrapper {
  .o-grid--reverse {
    @include mq($until: tablet) {
      flex-direction: column-reverse;
    }
  }
}

.shop-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 48px;

  p {
    margin-bottom: 0;
  }

  @include mq($until: tablet) {
    .woocommerce-result-count {
      display: none;
    }

    .price-sorting,
    .select-sorting {
      margin-left: 0;
    }
  }
}

.shop-sorting {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    margin-bottom: 0;
  }

  h3 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-right: 8px;
    line-height: 36px;
  }
}

.price-sorting,
.select-sorting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 48px;
}

.price-sorting {
  input {
    opacity: 0;
    position: absolute;
  }

  label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    line-height: 36px;
    color: $color-secondary;
  }

  input:checked + label {
    color: $color-initial;
  }
}

.woocommerce-pagination {
  text-align: center;

  ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border: 1px solid darken($color-secondary, 10%);
    border-right: 0;
    margin: 1px;

    li {
      border-right: 1px solid darken($color-secondary, 10%);
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;

      .page-numbers {
        margin: 0;
        text-decoration: none;
        line-height: 1;
        font-size: 1em;
        font-weight: normal;
        padding: 0.5em;
        min-width: 1em;
        display: block;
      }

      span.current,
      a:hover,
      a:focus {
        background: $color-secondary;
        color: darken($color-secondary, 40%);
      }
    }
  }
}

