/* ==========================================================================
   #PAGE HEAD
   ========================================================================== */

.page-footer {
  background: $color-black;
  position: relative;
  z-index: 1;
  padding: 56px 0;

  .brand {
    @include mq($until: tablet) {
      padding: 20px 0;
    }
  }

  h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 20px;

    @include mq($from: tablet) {
      margin-top: 0;
    }
  }

  .nav {
    display: block;
    margin: 0;

    li {
      height: 32px;
      line-height: 32px;
      padding-left: 0;
    }
  }

  .menu-item a {
    line-height: 1;
    padding: 0;
  }
}
