/* ==========================================================================
   #SIDEBAR
   ========================================================================== */

.widget {
  margin-bottom: 24px;

  h3 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      font-size: 14px;
      height: 32px;
      line-height: 32px;
    }
  }

  input[type="checkbox"] {
    display: none;

    + label {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 20px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #000;
        position: absolute;
        left: 0;
        top: 8px;
        opacity: 0.6;
        -webkit-transition: all 0.12s, border-color 0.08s;
        transition: all 0.12s, border-color 0.08s;
      }
    }

    &:checked + label::before {
      width: 8px;
      top: 5px;
      left: 5px;
      border-radius: 0;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.sidebar {
  .widget {
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-tertiary;
  }
}

.widget_ajax_layered_nav_clear {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul li {
    color: $color-secondary;
    line-height: 36px;
  }

  h3 {
    line-height: 36px;
    margin-bottom: 0;
  }
}
