/* ==========================================================================
   #PAGE SHOP
   ========================================================================== */

.shop-wrapper {
  &.o-wrapper {
    padding-top: 48px;
  }

  .product__list {
    width: 100%;
  }

  .product__card {
    width: 100%;

    @include mq($from: tablet) {
      width: 50%;
    }

    @include mq($from: desktop) {
      width: 33.333%;
    }
  }
}

