/* ==========================================================================
   #PAGE MAIN
   ========================================================================== */

.section {
  > header {
    padding: 24px 0;
  }

  .headline,
  .subheadline {
    margin: 0;
    text-align: center;
  }

  .headline {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 30px;

    @include mq($from: tablet) {
      font-size: 28px;
      line-height: 36px;
    }
  }

  .subheadline {
    color: $color-secondary;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.home__banner {
  figure {
    background-size: cover;
    width: 100%;
    height: 520px;
    overflow: hidden;

    figcaption {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      h2 {
        margin-bottom: 0;
        letter-spacing: 2px;
      }
    }

    .button {
      max-width: 200px;
    }
  }
}
