/* ==========================================================================
   #TABS
   ========================================================================== */

.tabs {
  position: relative;
}

.tabbed-section__selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 48px;
  text-align: center;
  width: 280px;
  margin: 0 auto;

  @include mq($from: tablet) {
    width: 360px;
  }

  .tab {
    text-align: center;
    display: block;
    width: 50%;
    line-height: 48px;
  }

  .highlighter {
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 50%;
    height: 5px;
    background-color: $color-initial;
    transform: translateX(0);
    transition: transform 0.23s ease;
  }
}

.tabbed-content {
  border-top: 1px solid #dcdcdc;
  padding: 48px 10px;

  @include mq($from: desktop) {
    padding: 48px 80px;
  }
}

.tabbed {
  &.visible {
    position: relative;
    opacity: 1;
    width: 100%;
    height: auto;
    float: left;
    transition: opacity 0.35s ease;
    z-index: 3;
  }

  &.hidden {
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: opacity 0s ease;

    img {
      display: none;
    }
  }
}

.tabbed-section__selector-tab-1.active ~ .highlighter {
  transform: translateX(0);
}

.tabbed-section__selector-tab-2.active ~ .highlighter {
  transform: translateX(140px);

  @include mq($from: tablet) {
    transform: translateX(180px);
  }
}

