/* ==========================================================================
   #PAGE HEAD
   ========================================================================== */

.page-head {
  background: $color-black;
  height: 64px;
  position: relative;
  z-index: 1;
}

.brand {
  @include mq($until: tablet) {
    padding: 20px 10px;
  }

  img {
    height: 40px;

    @include mq($until: tablet) {
      height: 35px;
    }
  }
}
