/* ==========================================================================
   #NAV
   ========================================================================== */

.nav-primary {
  .nav {
    margin: 0;

    @extend .o-grid;

    @include mq($until: tablet) {
      display: none;
    }

    @include mq($until: tablet) {
      background-color: #000;
      width: 100%;
      position: absolute;
      top: 64px;
      left: 0;
    }
  }
}

.menu-item {
  padding-left: 32px;

  a {
    color: $color-white;
    line-height: 64px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    padding: 0 20px;
  }
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  height: 64px;
  width: 64px;

  @include mq($until: tablet) {
    display: block;
  }
}

@include mq($from: tablet) {
  .nav-primary {
    display: flex !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0;

  span,
  span::before,
  span::after {
    cursor: pointer;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }

  span::before {
    top: -10px;
  }

  span::after {
    bottom: -10px;
  }

  &.active span {
    background-color: transparent;

    &::before,
    &::after {
      top: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
