.product__details {
  padding-top: 48px;

  .o-grid {
    margin-left: -80px;

    > .o-grid__cell {
      padding-left: 80px;
    }
  }

  .woocommerce-Price-amount {
    color: #eb2227;
  }
}

.product__text {
  del {
    color: $color-secondary;
    font-size: 14px;
  }
}

.grid-dl {
  dt,
  dd {
    height: 48px;
    line-height: 48px;
  }

  dt {
    border-bottom: 1px solid #eee;
    padding: 0 24px;
    font-weight: 300;
    text-transform: capitalize;
    color: $color-secondary;
    font-size: 14px;
    letter-spacing: 1px;
  }

  dd {
    margin: 0;
    padding: 0 24px;
  }
}

@include mq($from: tablet) {
  .grid-dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    dt {
      grid-column-start: 1;
    }

    dd {
      grid-column-start: 2;
    }

    dt + dd {
      border-bottom: 1px solid #eee;
    }
  }
}

.product__slider,
.product__slider__nav {
  img {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
  }
}

.product__slider {
  margin-bottom: 48px;
}

.product__slider__nav {
  .slick-slide {
    padding: 0 5px;
    outline: 0;
  }

  .slider__nav {
    opacity: 0.5;
    transition: all 0.5;
    cursor: pointer;
    border: 1px solid #999;
  }

  .slick-current {
    .slider__nav {
      opacity: 1;
    }
  }
}
