@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?8b2wsl');
  src:
    url('../fonts/icomoon.eot?8b2wsl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8b2wsl') format('truetype'),
    url('../fonts/icomoon.woff?8b2wsl') format('woff'),
    url('../fonts/icomoon.svg?8b2wsl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook::before {
  content: "\ea90";
}

.icon-instagram::before {
  content: "\ea92";
}

.icon-twitter::before {
  content: "\ea96";
}

.icon-youtube::before {
  content: "\ea9d";
}
